.main {
  display: flex;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
}

.button {
  display: flex;
  width: 64px;
  height: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  border: 1px solid var(--gray, #B2B2B2);
}

.thingList {
  display: flex;
  align-items: flex-end;
  width: 100%;
  flex: 1 0 0;
  align-self: stretch;
  overflow: hidden;
}

.thing {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  transition: ease-out 0.3s filter;
}

.thing:hover {
  filter: brightness(0.9);
}

.thingImage {
  display: block;
  width: 100%;
  align-self: stretch;
  aspect-ratio: 1/1;
  /* transform: scale(0.5); */
  transform-origin: bottom center;
}

.grads {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-self: stretch;
}

.grad {
  height: 32px;
  border-left: 1px solid var(--gray);
  flex: 1 0 0;
}

.grad:nth-of-type(1) {
  height: 48px;
}

.grad:nth-of-type(6) {
  height: 64px;
}