.controllPanel {
  display: flex;
  padding: 1rem 2rem 2rem 2rem;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  border-top: 1px solid var(--gray, #B2B2B2);
}

.prefixList {
  display: flex;
  align-items: center;
  flex: 1 0 0;
  border-radius: 16px;
  border: 1px solid var(--gray, #B2B2B2);
  overflow: hidden;
}

.prefix {
  display: flex;
  height: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}

.prefix:nth-of-type(1) { background-color: var(--blue-3); }
.prefix:nth-of-type(2) { background-color: var(--blue-2); }
.prefix:nth-of-type(3) { background-color: var(--blue-1); }
.prefix:nth-of-type(4) { background-color: var(--light-gray); }
.prefix:nth-of-type(5) { background-color: var(--red-1); }
.prefix:nth-of-type(6) { background-color: var(--red-2); }
.prefix:nth-of-type(7) { background-color: var(--red-3); }

.buttonList {
  display: flex;
  padding: 0 32px;
  align-items: center;
  gap: 32px;
}

.button {
  display: flex;
  width: 64px;
  height: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  border: 1px solid var(--gray);
}