.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 32px;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.10);
}

.logoWraper {
    padding: 4px 16px;
    border-radius: 16px;
    border: 1px solid #B2B2B2;
}

.accountWrapper {
    padding: 16px 24px;
    border-radius: 16px;
    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid #B2B2B2;
}