.form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 75%;
}

.title {
    font-weight: 500;
    margin: 1.5rem 0;
}

.input {
    font-size: 1rem;
    width: 20rem;
    padding: 0.5rem;
    margin: 0.125rem 0;
    border: 1px solid #B2B2B2;
    border-radius: 0.5rem;
}

.invalidInput {
    border-color: #F44336;
}

.validInput {
    border-color: #4CAF50;
}

.login {
    width: 20rem;
    padding: 0.4375rem 0;
    margin-top: 1rem;
    border: 1px solid #B2B2B2;
    border-radius: 0.5rem;
    text-align: center;
}

.signup {
    margin: 0.5rem 0;
    font-size: 0.75rem;
    padding: 0.25rem;
}
