.title {
    text-align: center;
    margin: 1rem 0;
}

.inputList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.input {
    display: block;
    width: 26rem;
    height: 2.5rem;
    padding: 1rem 0.5rem;
    border: 1px solid #B2B2B2;
    border-radius: 0.5rem;
}

.buttonBox {
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.buttonBox>* {
    width: 12rem;
    height: 2.5rem;
    border: 1px solid #B2B2B2;
    border-radius: 0.5rem;
    text-align: center;
}

.signup {
    background-color: #81B1F5;
}

.login {
    background-color: #F68E8E;
}