* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Paperlogy';
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000;
    background-color: #FFF;
    transition: filter 0.1s ease;
}

a:hover {
    filter: brightness(0.9);
}

button {
    all: unset;
    display: block;
    cursor: pointer;
    background-color: #FFF;
    transition: filter 0.1s ease;
}

button:hover {
    filter: brightness(0.9);
}
