* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Paperlogy';
    font-size: 20px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000;
    background-color: #FFF;
}

button {
    all: unset;
    display: block;
    cursor: pointer;
    background-color: #FFF;
}

h6 {
    font-size: 20px;
    font-weight: 600;
}

p {
    font-size: 16px;
}
